node_modules/
android/app/build/
android/.gradle/
.gradle/
app-release.keystore
android/app/app-release.keystore
android/gradle.properties
*.aab
*.apk

android/*.keystore
android/**/*.keystore

# Android (secrets & build)
android/app/build/
android/.gradle/
android/captures/
android/*.keystore
android/**/*.keystore
android/app/google-services.json
